
@{
    ViewBag.Title = "Attack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<label><b><img src="~/Content/logo/mobile.png" width="30" height="30" />GIỚI THIỆU, LIÊN HỆ, HỢP TÁC MARS STORE |</b><a href="tel:0943103168"> Tel: +84-943-103-168</a></label>
<!-- clock hack --><br />
<span style="font-size: 14px; font-family: arial,helvetica,sans-serif;">
    <strong>
        <div id="clock" class="smallfont">Đang tải...</div>
        <script type="text/javascript">
            function refrClock() {
                var d = new Date();
                var s = d.getSeconds();
                var m = d.getMinutes();
                var h = d.getHours();
                var day = d.getDay();
                var date = d.getDate();
                var month = d.getMonth();
                var year = d.getFullYear();
                var days = new Array("Chủ nhật,", "Thứ 2,", "Thứ 3,", "Thứ 4,", "Thứ 5,", "Thứ 6,", "Thứ 7,");
                var months = new Array("tháng 1,", "tháng 2,", "tháng 3,", "tháng 4,", "tháng 5,", "tháng 6,", "tháng 7,", "tháng 8,", "tháng 9,", "tháng 10,", "tháng 11,", "tháng 12,");
                var am_pm;
                if (s < 10) { s = "0" + s }
                if (m < 10) { m = "0" + m }
                if (h > 12) { h -= 12; am_pm = "Chiều" }
                else { am_pm = "Sáng" }
                if (h < 10) { h = "0" + h }
                document.getElementById("clock").innerHTML = days[day] + " ngày " + date + " " + months[month] + " " + year + ", " + h + ":" + m + ":" + s + " " + am_pm;
                setTimeout("refrClock()", 1000);
            }
            refrClock();
        </script>
    </strong>
</span>
<!-- / clock hack -->

<br />
<div id="detail_news">
    <div class="content_detail">
        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Công ty Cổ Phần Máy Tính Hà Nội <b><a href="/SANPHAM/AllProducer">MARS STORE</a></b> là một trong những doanh nghiệp hàng đầu hoạt động trong lĩnh vực kinh doanh các sản phẩm CNTT. Thành lập từ năm 2007 đến nay, công ty đã tạo được chỗ đứng vững chắc trên thị trường bán buôn, bán lẻ, trở thành thương hiệu quen thuộc và là đối tác tin cậy của nhiều bạn hàng trong nước và Quốc tế.</span></p>
        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Luôn lấy yếu tố hài hòa về lợi ích làm nền tảng, lãnh đạo Công ty hiểu rằng, niềm tin của khách hàng về giá thành, chất lượng và dịch vụ là sự sống còn của Công ty. Do vậy, mọi hoạt động kinh doanh của Công ty luôn hướng tới mục tiêu tôn trọng và bảo đảm quyền lợi cho khách hàng, chinh phục khách hàng bằng chất lượng sản phẩm và dịch vụ tối ưu. Để được phục vụ tốt nhất, Quý khách vui lòng liên hệ với chúng tôi theo các thông tin sau: </span></p>
        <table style="margin-left: auto; margin-right: auto; width: 932px; height: 1207px;" border="1" cellspacing="0" cellpadding="0">
            <tbody class="table-bordered">
                <tr style="height: 26.6pt;">
                    <td style="padding: 0in 5.4pt; width: 329.35pt; height: 26.6pt; background: none repeat scroll 0% 0% #602D8D;" width="439">
                        <p style="text-align: center;" align="center"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong><span style="color: white;">MARS STORE (SHOWROOM 1)</span></strong></span></p>
                    </td>
                    <td style="padding: 0in 5.4pt; width: 306.65pt; height: 26.6pt; background: none repeat scroll 0% 0% #602D8D;" width="409">
                        <p style="text-align: center;" align="center"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong><span style="color: white;">MARS STORE (SHOWROOM 2)</span></strong></span></p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0in 5.4pt; width: 329.35pt;" valign="top" width="439">
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong>* Địa chỉ:</strong>&nbsp;Số 43, Thái Hà, Trung Liệt, Đống Đa, Hà Nội.&nbsp;<br> * <strong>Điện thoại</strong>: <a href="tel:%2804%29%2035380088" target="_blank">(04) 35380088</a> - Fax: <a href="tel:0943103168" target="_blank">04 35380099</a></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong>*&nbsp;Thời gian làm việc:</strong>&nbsp;8h00 - 21h30<br> <strong>*&nbsp;Phụ trách cửa hàng:</strong><br> - Anh Trịnh Hoàng Tùng<br> - Email : <a href="mailto:trandirector.ctv@gmail.com" target="_blank">tungth<span style="color: #002060;"></span></a><br> - Điện thoại:&nbsp;<span style="color: #002060;"><a href="tel:0943103168" target="_blank">(04) 3538 0088</a></span>&nbsp;(Máy lẻ:20)<br> - Mobile: 0936.027.037<br> <strong>* Bộ phận bán hàng và tư vấn sản phẩm</strong><br> - Điện thoại:&nbsp;<a href="tel:%2804%29%2035380088" target="_blank">(04) 35380088</a>&nbsp;(Máy lẻ:12, 13)<br> - Email: <a href="mailto:kd_thaiha@marstorevn.com" target="_blank">kd_thaiha@marstorevn.com</a></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">* <strong>Bộ phận tư vấn GameNet và sản phẩm HI-END</strong></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Phụ trách: Anh Ninh Tiến Thành<br> -&nbsp;Mobile: <a href="tel:096.266.0319" target="_blank">096.266.0319</a><br> - Email: <a href="mailto:trandirector.ctv@gmail.com" target="_blank">thanhnt@marstorevn.com</a><br> * <strong>Bộ phận kỹ thuật</strong><br> - Điện thoại:&nbsp;<a href="tel:0943103168" target="_blank">(04) 35380088</a>&nbsp;(Máy lẻ:14)</span></p>
                    </td>
                    <td style="padding: 0in 5.4pt; width: 306.65pt;" valign="top" width="409">
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong>* Địa chỉ</strong>: Số 129+131 Lê Thanh Nghị, Hai Bà Trưng, Hà Nội.&nbsp;<br> *<strong>Điện thoại:</strong> <a href="tel:%2804%29%2036280886" target="_blank">(04) 36280886</a> - Fax: <a href="tel:0943103168" target="_blank">04 38693859</a></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong>*&nbsp;Thời gian làm việc:</strong>&nbsp;8h00 - 20h00<br> <strong>*&nbsp;Phụ trách cửa hàng:</strong><br> - Anh Lê Đức Lân<br> - Email : <a href="mailto:trandirector.ctv@gmail.com" target="_blank">trandirector.ctv@gmail.com</a><br> - Điện thoại:&nbsp;<a href="tel:0943103168" target="_blank">(04) 36280886</a>&nbsp;(Máy lẻ:17)<br> - Mobile:&nbsp;<a href="tel:0914%20375%20032" target="_blank">0914 375 032</a><br> <strong>* Bộ phận bán hàng và tư vấn sản phẩm</strong><br> - Điện thoại:&nbsp;<a href="tel:%2804%29%2036280886" target="_blank">(04) 36280886</a>&nbsp;(Máy lẻ: 46)<br> - Email: <a href="mailto:kd_ltn@marstorevn.com" target="_blank">kd_ltn@marstorevn.com</a></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">* <strong>Bộ phận tư vấn GameNet và sản phẩm HI-END</strong></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Phụ trách: Anh <span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Lê Đức Lân</span><br> - Mobile: 096.412.0022<br> -&nbsp;Email: lanld<a href="mailto:trandirector.ctv@gmail.com" target="_blank"></a><br> * <strong>Bộ phận kỹ thuật</strong><br> - Điện thoại:&nbsp;(04) 36280886&nbsp;(Máy lẻ:17)</span></p>
                    </td>
                </tr>
                <tr style="height: 26.65pt;">
                    <td style="padding: 0in 5.4pt; width: 329.35pt; height: 26.65pt; background: none repeat scroll 0% 0% #602D8D;" width="439">
                        <p style="text-align: center;" align="center"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong><span style="color: white;">&nbsp;PHÒNG KINH DOANH PHÂN PHỐI VÀ XUẤT NHẬP KHẨU<br></span></strong></span></p>
                    </td>
                    <td style="padding: 0in 5.4pt; width: 306.65pt; height: 26.65pt; background: none repeat scroll 0% 0% #602D8D;" width="409">
                        <p style="text-align: center;" align="center"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong><span style="color: white;">PHÒNG DỰ ÁN VÀ BÁN HÀNG TRỰC TUYẾN</span></strong></span></p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0in 5.4pt; width: 329.35pt;" valign="top" width="439">
                        <p><span style="font-family: arial,helvetica,sans-serif; font-size: medium;">* <strong style="font-family: arial, helvetica, sans-serif; font-size: medium;">Kinh doanh phân phối</strong></span></p>
                        <p><span style="font-family: arial,helvetica,sans-serif; font-size: medium;">1/ Anh Nguyễn Vĩnh Hùng</span></p>
                        <p><span style="font-family: arial,helvetica,sans-serif; font-size: medium;">- Điện thoại: 043 6280886 máy lẻ 49</span></p>
                        <p><span style="font-family: arial,helvetica,sans-serif; font-size: medium;">- Mobile: 0984.093.398</span></p>
                        <p><span style="font-family: arial,helvetica,sans-serif; font-size: medium;">- Email: <a href="mailto:trandirector.ctv@gmail.com" target="_blank">hungnv@marstorevn.com</a></span></p>
                    </td>
                    <td style="padding: 0in 5.4pt; width: 306.65pt;" rowspan="3" valign="top" width="409">
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong>* Địa chỉ:</strong>&nbsp;129 + 131 Lê Thanh Nghị, Đồng Tâm, Hai Bà Trưng, Hà Nội</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">&nbsp;<strong><span style="color: black;">BỘ PHẬN DỰ ÁN VÀ PHÁT TRIỂN KHÁCH HÀNG DOANH NGHIỆP</span></strong></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong>- </strong>Phụ trách<strong>:</strong>&nbsp;Anh Nguyễn Mạnh Điệp </span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Điện thoại: (04) 36280886 máy lẻ 22</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Mobile&nbsp;: 0913.226.335</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Email: <a href="mailto:trandirector.ctv@gmail.com" target="_blank">diepnm@marstorevn.com</a><strong><span style="color: white;">ộ</span></strong></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong><span style="color: white;">&nbsp;</span><span style="color: black;">BỘ PHẬN BÁN HÀNG TRỰC TUYẾN</span></strong></span></p>
                        <p>&nbsp;<span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong>- </strong>Phụ trách<strong>:</strong> Chị Đặng Bích Thủy </span></p>
                        <p>&nbsp;<span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Điện thoại: (04) 36280886 máy lẻ 12<br></span></p>
                        <p>&nbsp;<span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Mobile&nbsp;: <span style="color: #000000;">098.33033.90<span class="Apple-converted-space">&nbsp;</span>/<span class="Apple-converted-space">&nbsp;</span>096.266.0316</span><br></span></p>
                        <p>&nbsp;<span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Email:<strong> thuydb@marstorevn.com</strong></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong>-----------</strong></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong>Gọi mua hàng online:</strong></span></p>
                        <p>&nbsp;<span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Điện thoại: (04) 36280886 máy lẻ 1</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Mobile&nbsp;: 096.266.0316, 096.266.0317, 096.555.1116, 096.266.0318, 096.214.2200, 091.704.0930<br></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Yahoo chat: kinhdoanh1_hnc, kinhdoanh2_hnc, kinhdoanh3_hnc, kinhdoanh4_hnc, kinhdoanh6_hnc<span style="color: #2501bf;">, <span style="color: #000000;">kinhdoanh8_hnc, kinhdoanh9_hnc, kinhdoanh10_hnc</span><br></span></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><span style="color: #2501bf;">&nbsp;</span><strong><span style="color: black;">BỘ PHẬN TƯ VẤN CAMERA GIÁM SÁT VÀ CÁC SẢN PHẨM DOANH NGHIỆP</span></strong></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">1/ Phụ trách: Anh Nguyễn Văn Hiển</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Điện thoại:&nbsp;(04) 35380088 (Máy lẻ: 11)</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Mobile: 096.411.0606&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Email: <a href="mailto:trandirector.ctv@gmail.com" target="_blank">hiennv@marstorevn.com</a></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">2/ Anh Nguyễn Thế Hưng </span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Mobile: 096.839.1551</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Email: <a href="mailto:trandirector.ctv@gmail.com" target="_blank">hungnt@marstorevn.com</a></span></span></p>
                    </td>
                </tr>
                <tr style="height: 26.65pt;">
                    <td style="padding: 0in 5.4pt; width: 329.35pt; height: 26.65pt; background: none repeat scroll 0% 0% #602D8D;" width="439">
                        <p style="text-align: center;" align="center"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong><span style="color: white;">PHÒNG KẾ HOẠCH KINH DOANH</span></strong></span></p>
                    </td>
                </tr>
                <tr style="height: 62.25pt;">
                    <td style="padding: 0in 5.4pt; width: 329.35pt; height: 62.25pt;" valign="top" width="439">
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">* Địa chỉ: 129+131 Lê Thanh Nghị, Hai Bà Trưng – Hà Nội</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Phụ trách: Chị Đặng Thị Hà Giang</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Điện thoại: 043 6280886 máy lẻ 47<br></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Mobile: 0904 499 347</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Email: <a href="mailto:trandirector.ctv@gmail.com" target="_blank">giangdth@marstorevn.com</a></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">1/ <span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Chị Tô Thị Tuyết - Điện thoại: 043 6280886 máy lẻ 32 / - Mobile: <a href="tel:0912666343" target="_blank">0912666343</a> / - Email: tuyettt@marstorevn.com</span></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Phụ trách mua hàng nhóm (Main + CPU + Ram + Ổ cứng cắm trong + SSD + VGA + Ổ quang + Sound Card)</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">&nbsp;2/ <span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Chị Đặng Thị Hà Giang - Điện thoại: 043 6280886 máy lẻ 47 / - Mobile:&nbsp;<a href="tel:0968886176" target="_blank"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">0904 499 347</span> </a><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Email: <span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><a href="mailto:trandirector.ctv@gmail.com" target="_blank">giangdth@marstorevn.com</a></span><br></span></span></span></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Phụ trách nhóm hàng (Case + Nguồn + Máy in + Máy fax + Máy Chiếu + Tab và phụ kiện + Ổ cứng cắm ngoài+ máy chủ)</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">3/ <span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Chị Ôn Thị Phương Lan - Điện thoại: 043 6280886 máy lẻ 34 / - Mobile: <a href="tel:0943103168" target="_blank">0936364516&nbsp;</a><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">/ - Email: lanotp@marstorevn.com</span></span></span></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Phụ trách nhóm hàng (PC đồng bộ + Laptop)</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">4/ <span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Anh Phạm Thanh Tuấn - Điện thoại: 043 6280886 máy lẻ 25 / - Mobile: <a href="tel:0943103168" target="_blank">0982825982&nbsp;</a><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">/ - Email: tuanpt@marstorevn.com</span></span></span></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Phụ trách nhóm hàng (Monitor +Key + Mouse&nbsp; +Tai Nghe+ thiết bị mạng+ USB + Loa + Bàn ghế + Camera)</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height: 26.65pt;">
                    <td style="padding: 0in 5.4pt; width: 329.35pt; height: 26.65pt; background: none repeat scroll 0% 0% #602D8D;" width="439">
                        <p style="text-align: center;" align="center"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong><span style="color: white;">TRUNG TÂM BẢO HÀNH</span></strong></span></p>
                    </td>
                    <td style="padding: 0in; width: 306.65pt; height: 26.65pt; background: none repeat scroll 0% 0% #602D8D;" width="409">
                        <p style="text-align: center;" align="center"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong><span style="color: white;">CHĂM SÓC KHÁCH HÀNG</span></strong></span></p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0in 5.4pt; width: 329.35pt;" valign="top" width="439">
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong>*&nbsp;Địa chỉ</strong>: Tầng 2, Số 45 Thái Hà, Trung Liệt, Đống Đa, Hà Nội<br></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Giám Đốc Trung Tâm: Anh Đào Mạnh Hà<br></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">* <span style="color: #ff0000;">Tra cứu thông tin bảo hành</span>:<strong> 0961.660.638</strong></span></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">* Khiếu nại về bảo hành: <strong>0979.851.981</strong></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- ĐT: 043.224.7486/ 043.628.4883 / 043.224.7485<br></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Email:&nbsp;baohanhhnc@marstorevn.com<br> *&nbsp;<strong>Thời gian làm việc:</strong>&nbsp;Tất cả các ngày trong tuần từ 8h đến 19h ( Ngày CN từ 8h đến 17h30)<br></span></p>
                    </td>
                    <td style="padding: 0in; width: 306.65pt;" valign="top" width="409">
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;"><strong>* Bộ phận giải quyết thắc mắc, khiếu nại:</strong></span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">-&nbsp;Địa chỉ:&nbsp;129 + 131 Lê Thanh Nghị, Đồng Tâm, Hai Bà Trưng, Hà Nội</span></p>
                        <p><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">- Hotline:&nbsp;<strong>097.858.0088</strong><br> - Email: <a href="mailto:trandirector.ctv@gmail.com" target="_blank">cskh@marstorevn.com</a></span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        @*<p style="text-align: center;"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">&nbsp;</span></p>*@
    </div>
    <div>
        Chăm sóc khách hàng: 04.36280886/ máy lẻ 0 hoặc Hotline:&nbsp;09.78.58.00.88&nbsp;<br>
        Bán hàng online:&nbsp;&nbsp;(04) 36280886 máy lẻ&nbsp;1 <br>
        ---------------------------------------------------------- <br>
        <b>Công ty Cổ Phần Máy Tính Hà Nội</b> <br>
        Showroom 1: 129 + 131 Lê Thanh Nghị – Đồng Tâm - Hai Bà Trưng – Hà nội <br>
        Điện thoại: 04. 36280886 – Fax: 04 38693859 <br>
        Showroom 2: 43 Thái Hà - Trung Liệt - Đống Đa - Hà Nội <br>
        Điện thoại: 04. 35380088 – Fax: 04 35380099 <br>
        Email: hnc@marstorevn.com <br>
        Website: www.marstore.vn <br>
    </div>
    <div class="clear"></div>
    <div id="share">
        <div class="float_l">
            <b class="float_l">Chia sẻ bài viết này: </b>
            <div class="float_l">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style" style="margin-top:10px;">
                    <a class="addthis_button_facebook_like at300b" fb:like:layout="button_count"><div class="fb-like fb_iframe_widget" data-ref=".V0of21Z4m0E.like" data-layout="button_count" data-show_faces="false" data-share="false" data-action="like" data-width="90" data-font="arial" data-href="http://www.hanoicomputer.vn/huong-dan-khach-hang/lien-he-hop-tac/a391.html" data-send="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=172525162793917&amp;container_width=0&amp;font=arial&amp;href=http%3A%2F%2Fwww.hanoicomputer.vn%2Fhuong-dan-khach-hang%2Flien-he-hop-tac%2Fa391.html&amp;layout=button_count&amp;locale=vi_VN&amp;ref=.V0of21Z4m0E.like&amp;sdk=joey&amp;send=false&amp;share=false&amp;show_faces=false&amp;width=90"><span style="vertical-align: bottom; width: 86px; height: 20px;"><iframe name="f24316668e15028" width="90px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.0/plugins/like.php?action=like&amp;app_id=172525162793917&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df9fa95432e9d1%26domain%3Dwww.hanoicomputer.vn%26origin%3Dhttp%253A%252F%252Fwww.hanoicomputer.vn%252Ff2dbc15cc8f54b%26relation%3Dparent.parent&amp;container_width=0&amp;font=arial&amp;href=http%3A%2F%2Fwww.hanoicomputer.vn%2Fhuong-dan-khach-hang%2Flien-he-hop-tac%2Fa391.html&amp;layout=button_count&amp;locale=vi_VN&amp;ref=.V0of21Z4m0E.like&amp;sdk=joey&amp;send=false&amp;share=false&amp;show_faces=false&amp;width=90" style="border: none; visibility: visible; width: 86px; height: 20px;" class=""></iframe></span></div></a>
                    <a class="addthis_button_google_plusone at300b" g:plusone:size="medium"><div id="___plusone_1" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background: transparent;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1464475612549" name="I0_1464475612549" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;hl=en-US&amp;origin=http%3A%2F%2Fwww.hanoicomputer.vn&amp;url=http%3A%2F%2Fwww.hanoicomputer.vn%2Fhuong-dan-khach-hang%2Flien-he-hop-tac%2Fa391.html&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.vi.Z2sdWU3PthI.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCNeVkAE1gp5rpq9fFHul8i4AjveFQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1464475612549&amp;parent=http%3A%2F%2Fwww.hanoicomputer.vn&amp;pfname=&amp;rpctoken=68605788" data-gapiattached="true" title="+1"></iframe></div></a>
                    <a class="addthis_button_tweet at300b"><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.hanoicomputer.vn/huong-dan-khach-hang/lien-he-hop-tac/a391.html#.V0of2zVFk6I.twitter" data-counturl="http://www.hanoicomputer.vn/huong-dan-khach-hang/lien-he-hop-tac/a391.html" data-count="horizontal" data-text="Các đường dây nóng:" data-related="" data-hashtags="" data-width="110">Tweet</a></a>
                    <a class="addthis_counter addthis_pill_style addthis_nonzero" href="#" style="display: inline-block;"><a class="atc_s addthis_button_compact"><span></span></a><a class="addthis_button_expanded" target="_blank" title="Thêm..." href="#">2</a></a>
                    <div class="atclear"></div>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5148003b01a03b86"></script>
                <!-- AddThis Button END -->
            </div>
        </div>
        <a href="http://www.freetellafriend.com/tell/?heading=Share+This+Article&amp;bg=1&amp;option=email&amp;url=http://www.hanoicomputer.vn/huong-dan-khach-hang/lien-he-hop-tac/a391.html" class="bg icon_send_mail float_r" target="_blank"></a>
        <a href="javascript:window.print();" target="_blank" class="bg icon_print float_r"></a>
        <div class="clear"></div>
    </div><!--share-->

    <div id="comment_news">
        <div id="other_news">
            <div class="box_other_news">
                <h2>► TIN LIÊN QUAN </h2>
                <ul class="ul">
                    <li>✭ <a href="/huong-dan-khach-hang/huong-dan-thanh-toan/a650.html">Hướng dẫn thanh toán</a> </li>
                    <!--0-->
                    <li>✭ <a href="/huong-dan-khach-hang/chinh-sach-quy-dinh-chung/a575.html">Chính sách &amp; Quy định chung</a> </li>
                    <!--1-->
                    <li>✭ <a href="/huong-dan-khach-hang/quy-dinh-ve-doi-tra-hang/a574.html">Quy định về đổi, trả lại hàng</a> </li>
                    <!--2-->
                    <li>✭ <a href="/huong-dan-khach-hang/bao-mat-thong-tin-khach-hang/a563.html">Bảo mật thông tin khách hàng</a> </li>
                    <!--3-->
                    <li>✭ <a href="/huong-dan-khach-hang/huong-dan-thanh-toan-an-toan-qua-bao-kim/a338.html">Hướng dẫn thanh toán An Toàn qua Bảo Kim</a> </li>
                    <!--4-->
                </ul>
            </div><!--float_l-->
            <div class="box_other_news">
                <h2>► TIN MỚI CẬP NHẬT </h2><ul class="ul">


                    <li>✭ <a href="/tin-cong-nghe/seagate-nas-8tb-o-cung-dung-luong-lon-nhat-the-gioi-da-co-mat-tai-hnc-thoa-man-moi-nhu-cau-va-toi-da-hoa-khong-gian-luu-tr-so/a948.html">SEAGATE NAS 8TB Ổ CỨNG DUNG LƯỢNG LỚN NHẤT THẾ GIỚI ĐÃ CÓ MẶT TẠI HNC - THỎA MÃN MỌI NHU CẦU VÀ TỐI ĐA HÓA KHÔNG GIAN LƯU TRỮ SỐ</a> </li>



                    <li>✭ <a href="/tin-tuyen-dung/hanoicomputer-tuyen-dung-nhieu-vi-tri-cho-khai-truong-showroom-thu-3-tai-hai-phong/a947.html">MARS STORETuyển dụng nhiều vị trí cho khai trương Showroom thứ 3 tại Hải Phòng</a> </li>



                    <li>✭ <a href="/tin-khuyen-mai/mua-gigabyte-gv-n950d5-2gd-cung-nguon-antec-voi-gia-shock/a946.html">Mua GIGABYTE GV-N950D5-2GD cùng nguồn ANTEC với giá SHOCK</a> </li>



                    <li>✭ <a href="/tin-cong-nghe/gtx1080-dau-tien-tai-viet-nam-quai-vat-den-tu-binh-doan-xanh/a945.html">GTX1080 ĐẦU TIÊN TẠI VIỆT NAM - QUÁI VẬT ĐẾN TỪ BINH ĐOÀN XANH</a> </li>



                    <li>✭ <a href="/tin-khuyen-mai/chuong-trinh-offline-extreme-pc-master-huong-dan-lap-rap-tan-nhiet-nuoc-va-lua-chon-linh-kien-nhieu-phan-qua-hap-dan/a944.html">CHƯƠNG TRÌNH OFFLINE “EXTREME PC MASTER“ – HƯỚNG DẪN LẮP RÁP TẢN NHIỆT NƯỚC VÀ LỰA CHỌN LINH KIỆN - NHIỀU PHẦN QUÀ HẤP DẪN</a> </li>
                </ul>
                <br />
            </div><!--float_r-->
        </div><!--other_news-->
    </div><!--detail_news-->
</div>

<style>
    p {
        text-indent: 20px;
        line-height: 1.6em;
    }

    label {
        font-family: 'a';
        font-size: 20px;
        color: #602D8D;
        padding: 3px;
    }
    td {
        margin: 0;
        padding: 0;
        /* border: 0; */
        font-size: 100%;
        font: inherit;
        vertical-align: middle;
    }
</style>




