@model Mars_Store.Models.Entities.DONHANG

<div class="col-md-6 text-uppercase">
    <table class="table table-striped table-no-padding-horizontal">
        <tbody>
            <tr>
                <td class="totals-order">Tình trạng đơn hàng: </td>

                @if (@Model.trangthai == true)
                {
                    <td class="text-right">
                        Đang vận chuyển
                    </td>
                }
                else
                {
                    <td class="text-right">
                        Chờ xét duyệt
                    </td>
                }

            </tr>

            @*<tr>
                <td class="totals-order">Email: </td>
                <td class="text-right ">@Model.mail</td>
            </tr>
            <tr>
                <td class="totals-order">Phone: </td>
                <td class="text-right ">@Model.phone</td>
            </tr>
            <tr>
                <td class="totals-order">ĐỊA CHỈ: </td>
                <td class="text-right ">@Model.diachi</td>
            </tr>*@
        </tbody>
    </table>
</div>
