
@{
    Layout = null;
}

<div class="wrapper">
    <div class="section group">
        <div class="col_1_of_4 span_1_of_4">
            <h4>THÔNG TIN</h4>
            <ul>
                <li><a href="/SANPHAM">SẢN PHẨM</a></li>
                <li><a href="#">LIÊN HỆ - QC</a></li>
                <li><a href="#">TÌM KIẾM</a></li>
                <li><a href="#">ĐẶT HÀNG</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <h4>HƯỚNG DẪN</h4>
            <ul>
                <li><a href="#">ĐỊA CHỈ</a></li>
                <li><a href="#">TÙY CHỈNH</a></li>
                <li><a href="#">BẢO MẬT</a></li>
                <li><a href="#">BẢN ĐỒ</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <h4>TÀI KHOẢN</h4>
            <ul>
                <li><a href="contact.html">ĐĂNG NHẬP</a></li>
                <li><a href="index.html">THÔNG TIN NGƯỜI DÙNG</a></li>
                <li><a href="#">BẠN BÈ</a></li>
                <li><a href="#">ĐỒ ĐÃ MUA</a></li>
                <li><a href="faq.html">HỖ TRỢ</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <h4>LIÊN HỆ</h4>
            <ul>
@*                <li><span><a href="tel:0943103168">+84-943-103168</a></span></li>
*@
            </ul>
            <div class="social-icons">
                <h4>THEO DÕI KÊNH</h4>
                <ul>
                    <li class="facebook"><a href="http://fb.com/trandirector.iit" target="_blank"> </a></li>
                    <li class="twitter"><a href="https://twitter.com/peakorean" target="_blank"> </a></li>
                    <li class="googleplus"><a href="https://plus.google.com/u/0/117757332618129184157" target="_blank"> </a></li>
                    <li class="contact"><a href="mailto:trandirector.ctv@gmail.com" target="_blank"> </a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="copy_right">
        <p>Compant Name © All rights Reseverd | Design by  <a href="https://www.facebook.com/trandirector.iit">Di'rektə Trần</a> </p>
    </div>*@
</div>

<style>h4{font-family:'a';}</style>