
@{
    ViewBag.Title = "Sele";
    Layout = "~/Views/Shared/_SelectionCart.cshtml";
}

<div class="log-input" onchange="window.location.href=this.value">
    <a href="/Cart/PaymentNotLogin"><input type="submit" value="TIẾP TỤC MUA HÀNG KHÔNG CẦN ĐĂNG NHẬP" /></a>
    <a href="/UserLogin/Index"><input type="submit" value="ĐĂNG NHẬP" /></a>
</div>

