@using Mars_Store.ModBM;
<!DOCTYPE html>
<html>
<head>
    <title> MARS STORE | ADMIN </title>
    <link href="/Content/images/id4.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/bootstrap.min.js"></script>*@
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="/Areas/Admin/Razer/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="/Areas/Admin/Razer/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="/Areas/Admin/Razer/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="/Areas/Admin/Razer/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="/Areas/Admin/Razer/js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="/Areas/Admin/Razer/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="/Areas/Admin/Razer/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="/Areas/Admin/Razer/js/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sticky-header left-side-collapsed" onload="initMap()">
    <section>
        <!-- left side start-->
        <div class="left-side sticky-left-side">

            <!--logo and iconic logo start-->
            <div class="logo">
                <h1><a href="/Admin/HOMEADMIN/Index">Trang chủ</a></h1>
            </div>
            <div class="logo-icon text-center">
                <a href="/Admin/HOMEADMIN/Index"><i class="fa fa-tasks"></i> </a>
            </div>

            <!--logo and iconic logo end-->
            <div class="left-side-inner">

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-tasks"></i></li>
                    <li><a href="/ADMIN/DONHANG"><i class="fa fa-tasks"></i> <span>ĐƠN HÀNG</span></a></li>
                    <li class="menu-list">
                        <a href=""><i class="fa fa-tasks"></i><span>QUẢN LÝ</span></a>
                        <ul class="sub-menu-list">
                            
                            <li><a href="/Admin/DANHMUCADMIN">DANH MỤC</a> </li>
                            <li><a href="/Admin/SANPHAMADMIN">SẢN PHẨM</a> </li>
                           
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#"><i class="fa fa-tasks"></i></a>
                    </li>
                </ul>
                <!--sidebar nav end-->
            </div>
        </div>
        <!-- left side end-->
        <!-- main content start-->
        <div class="main-content">
            <!-- header-starts -->
            <div class="header-section">

                <!--toggle button start-->
                <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
                <!--toggle button end-->
                <!--notification menu start -->
                <div class="menu-right">
                    <div class="user-panel-top">
                        <div class="profile_details_left">
                            <ul class="nofitications-dropdown">
                                <li class="dropdown">
                                    <!-- search-scripts -->
                                    <script src="/Areas/Admin/Razer/js/classie.js"></script>
                                    <script src="/Areas/Admin/Razer/js/uisearch.js"></script>
                                    <script>
                                        new UISearch(document.getElementById('sb-search'));
                                    </script>
                                    <!-- //search-scripts -->
                                </li>
                                <li class="dropdown">
                                    @{Html.RenderAction("SoDonHang", "DONHANG");}
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1"></span></a>
                                </li>
                                <li class="login_box" id="loginContainer">
                                    <div class="search-box">
                                        <form class="form-inline navbar-search" method="post" action="/ADMIN/SANPHAMADMIN/TimKiemSanPhamAdmin">
                                            <input id="txttimkiem" value="" class="srchTxt" type="text" name="txttimkiem" />

                                            <button type="submit" id="submitButton" class="btn btn-primary">TÌM KIẾM</button>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                    </li>
                        </ul>
                        </div>
                        <div class="profile_details">
                            <ul>
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <div class="profile_img">
                                            @*<span style="background:url(/Areas/Admin/Razer/images/1.jpg) no-repeat center"> </span>*@
                                            <div class="user-name">
                                                <p> @SessionPersister.UserName <span>Administrator</span></p>
                                            </div>
                                            <i class="lnr lnr-chevron-down"></i>
                                            <i class="lnr lnr-chevron-up"></i>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="#"><i class="fa fa-user"></i>Thông tin</a> </li>
                                        <li> <a href="/Admin/ADMINLOGIN/LogOut"><i class="fa fa-sign-out"></i>Thoát</a> </li>
                                    </ul>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                        @*<div class="social_icons">
                            <div class="col-md-4 social_icons-left">
                                <a href="#" class="yui"><i class="fa fa-facebook i1"></i><span>300<sup>+</sup> Likes</span></a>
                            </div>
                            <div class="col-md-4 social_icons-left pinterest">
                                <a href="#"><i class="fa fa-google-plus i1"></i><span>500<sup>+</sup> Shares</span></a>
                            </div>
                            <div class="col-md-4 social_icons-left twi">
                                <a href="#"><i class="fa fa-twitter i1"></i><span>500<sup>+</sup> Tweets</span></a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>*@
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--notification menu end -->
            </div>
            <!-- //header-ends -->
            <div id="page-wrapper">
                @RenderBody()
            <!--body wrapper end-->
        </div>
        <!--footer section start-->
        <footer>
            @*<p>Coppy Right Of W3S. All Rights Reserved | Design by <a href="https://www.facebook.com/trandirector.iit" target="_blank">Di'rektə Trần.</a></p>*@
        </footer>
        <!--footer section end-->
        <!-- main content end-->
    </section>

    <script src="/Areas/Admin/Razer/js/jquery.nicescroll.js"></script>
    <script src="/Areas/Admin/Razer/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Areas/Admin/Razer/js/bootstrap.min.js"></script>
</body>
</html>