<!DOCTYPE html>
<html>
<head>
    <title> MARS STORE | ADMIN</title>
    <link href="/Content/images/id4.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="/Areas/Admin/Razer/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="/Areas/Admin/Razer/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="/Areas/Admin/Razer/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="/Areas/Admin/Razer/js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="/Areas/Admin/Razer/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="/Areas/Admin/Razer/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="/Areas/Admin/Razer/js/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sign-in-up">
    <section>
        <div id="page-wrapper" class="sign-in-wrapper">
            <div class="graphs">
                <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <p><span>ADMIN LOGIN</span> </p>
                    </div>
                    <div class="signin">
                        <div class="signin-rit">
                            <span class="checkbox1">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Quên mật khẩu?</label>
                            </span>
                            <p><a href="#">nhấn vào đây</a> </p>
                            <div class="clearfix"> </div>
                        </div>
                        <form>
                            @RenderBody()
                        </form>
                    </div>
                    @*<div class="new_people">
                        <h4>Thành viên mới</h4>
                        <p>
                            Hãy đăng kí thành viên của Mars Store để cập nhật những ưu đãi tốt nhất về sản phẩm trên hệ thống.
                        </p>
                        <a href="#">ĐĂNG KÝ</a>
                    </div>*@
                </div>
            </div>
        </div>
        <!--footer section start-->
        <footer>
@*            <p>Coppy Right Of W3S. All Rights Reserved | Design by <a href="https://www.facebook.com/trandirector.iit" target="_blank">Di'rektə Trần.</a></p>
*@        </footer>
        <!--footer section end-->
    </section>

    <script src="/Areas/Admin/Razer/js/jquery.nicescroll.js"></script>
    <script src="/Areas/Admin/Razer/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Areas/Admin/Razer/js/bootstrap.min.js"></script>
</body>
</html>
